<nz-header class="main-header custom-navbar" nz-row nzType="flex">
  <div class="navbar-title">
    <a routerLink="/">
      <!-- Hiển thị tiêu đề phù hợp dựa trên trạng thái đăng nhập -->
      <ng-container *ngIf="isAdminLoggedIn">Administration</ng-container>
      <ng-container *ngIf="isCustomerLoggedIn">Home</ng-container>
      <ng-container *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">Car Rental</ng-container>
    </a>
  </div>
  <div class="navs-link">
    <!-- Hiển thị cho khách chưa đăng nhập -->
    <ng-container *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Log in</a>
    </ng-container>

    <!-- Hiển thị khi admin đăng nhập -->
    <ng-container *ngIf="isAdminLoggedIn">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/admin/car" routerLinkActive="active">Upload Car</a>
      <a nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active">Bookings</a>
      <a nz-button nzType="link" routerLink="/admin/search" routerLinkActive="active">Search</a>

      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Log out</a>
    </ng-container>

    <!-- Hiển thị khi customer đăng nhập -->
    <ng-container *ngIf="isCustomerLoggedIn">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/customer/my_bookings" routerLinkActive="active">My Bookings</a>
      <a nz-button nzType="link" routerLink="/customer/car/search" routerLinkActive="active">Search Car</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Log out</a>
    </ng-container>
  </div>
</nz-header>

<router-outlet></router-outlet>