
.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .profile {
    width: 100%;
    height: auto;
    max-height: 220px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .profile:hover {
    transform: scale(1.05); /* Phóng to ảnh khi hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Đổ bóng khi hover */
  }
  
  .product-title {
    cursor: pointer;
    color: #003380;
    margin-top: 10px;
  }
  
  h5 {
    font-size: 14px;
    line-height: 1.6;
  }

  b{
    color: #003380;
}
p{
    font-size: 16px;
    font-weight: 700;
  
}

.filter-select-dropdown {
    display: flex;
    justify-content: center;
    padding: 0 20px; /* Thêm khoảng cách giữa lề trái và lề phải */
  }
  
  .date-picker-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 600px; /* Giới hạn độ rộng tối đa */
    margin: 0 auto; /* Căn giữa hàng */
  }
  
  nz-form-label {
    margin-right: 10px;
  }
  
  nz-form-control {
    width: 150px;
  }
  
  
  button[nz-button] {
    margin-top: 20px;
  }
